* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efedd6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow-x: hidden;
}

h1 {
  width: fit-content;
}

.box {
  width: 25rem;
  height: 13rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #bbb;
  background-color: #4682b4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  transition: transform .2s ease-in-out;
}

.box:nth-child(even) {
  transform: translateX(calc(-60vw - 100%));
}

.box:nth-child(odd) {
  transform: translateX(calc(60vw + 100%));
}

div.box.show {
  transform: none;
}