* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  overflow-x: hidden;
}

.container {
  padding: 3rem;
  min-height: 150svh;
  width: 100vw;
  background-color: #f0f0f0;
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
}

.show-nav {
  &.container {
    transform: rotate(-20deg);
  }

  .controller-container {
    position: absolute;
  }

  .circle {
    transform: rotate(20deg);
  }

  .buttons {
    transform: rotate(-90deg);
  }

  & + nav ul > li {
    transform: translateX(0);
  }
}

.controller-container {
  position: fixed;
  left: 0;
  top: 0;
}

.circle {
  position: absolute;
  border-radius: 0 0 6.5rem 0;
  width: 6.5rem;
  height: 6.5rem;
  background-color: #ff7979;
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
}

.circle button {
  background: none;
  border-style: none;
  color: white;
  font-size: xx-large;
  cursor: pointer;
  position: absolute;
  width: 40%;
  height: 80%;
}

.circle button#close {
  top: 45%;
  left: -45%;
  translate: -50% -50%;
}

.circle button#open {
  top: 45%;
  left: 45%;
  translate: -50% -50%;
}

.buttons {
  width: 100%;
  height: 100%;
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
}

.content {
  margin-top: 3rem;
}

.nav {
  width: fit-content;
  position: fixed;
  bottom: 3rem;
  left: 0;

  ul {
    position: relative;
    list-style: none;
    padding-left: 4rem;
    width: fit-content;

    & > li {
      margin-top: 1.25rem;
      font-size: 1.5rem;
      color: #fff;
      width: fit-content;
      transform: translateX(-300%);
      transition: transform 0.2s ease-in-out;
    }

    & > li:nth-child(2) {
      padding-left: 1rem;
    }
    & > li:nth-child(3) {
      padding-left: 2rem;
    }
  }
}
